extends layout

block content
  h1= title 
  div(class='container right')
    a(class='greyBtn' href='/contacts') Back
  hr
  label First Name: 
    | 
  p=`${contact.firstName}`
  br
  label Last Name: 
    | 
  p=`${contact.lastName}`
  br
  label Email: 
    | 
  p=`${contact.email}`
  br
  label Notes: 
    | 
  p=`${contact.notes}`
  br
  label Date Created: 
    | 
  p=`${contact.dateCreated}`
  br
  label Date Updated: 
    | 
  p=`${contact.dateUpdated}`
  a(href=`/contacts/${contact.id}/edit`) Edit Contact
  | 
  a(class='redBtn' href=`/contacts/${contact.id}/delete`) Delete Contact
  p(class='container labTag') ~ ITMD 541 - Lab 2 - Bori Kim ~
