extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/contacts/add') Add a Contact
  hr
  table(style='width:100%', border='1', )
    tr#headtag
        th First Name
        th Last Name
        th Email
        th View Contact Info
    each val in contacts
        tr
            th=val.firstName
            th=val.lastName
            th=val.email
            th
              a(href=`/contacts/${val.id}`) View
