extends layout

block content
  div(class='page')
    h1= title
    h2 Welcome to #{title}!
    div(class='container right')
      a(href='/contacts/add') Add Contact
    hr
    table
      tr
        th(class='header') First Name
        th(class='header') Last Name
        th(class='header') Email
        th(class='header') View Contact Info
      each val in contacts
        tr
          th=val.firstName
          th=val.lastName
          th=val.email
          th
            a(class='greyBtn' href=`/contacts/${val.id}`) View
    p(class='container labTag') ~ ITMD 541 - Lab 2 - Bori Kim ~
