extends layout

block content
  h1= title
  h2 Welcome to #{title}!
  div(class='container add')
    a(href='/contacts/add')
      button Add Contact
  hr
  table
    tr
      th(class='header') First Name
      th(class='header') Last Name
      th(class='header') Email
      th(class='header') View Contact Info
    each val in contacts
      tr
        th=val.firstName
        th=val.lastName
        th=val.email
        th
          a(href=`/contacts/${val.id}`) View
  p(class='container labTag') ~ ITMD 541 - Lab 2 - Bori Kim ~
