extends layout

block content
  div(class='page')
    h1= title
    h2 Fill out the form below to add a new contact.
    hr
    if msg 
      each val in msg 
        ul 
          li(class='redtext')=val.msg
    form(method='POST' action='/contacts/add')
      div(class='grid form')
        label(class='section left') First Name:
        input(class='section right' type='text' name='firstName' maxlength='25' placeholder='Add first name' value=firstName required)
        label(class='section left') Last Name:
        input(class='section right' type='text' name='lastName' maxlength='25' placeholder='Add last name' value=lastName required)
        label(class='section left') Email:
        input(class='section right' type='text' name='email' maxlength='50' placeholder='Add email address')
        label(class='section left') Notes:
        input(class='section right' type='text' name='notes' maxlength='50' placeholder='Add notes' value=notes)
      div(class='container')
        button(type='submit') Save
        a(class='greyBtn' href='/contacts') Cancel
    p(class='container labTag') ~ ITMD 542 - Lab 3 - Bori Kim ~